.column {
  word-wrap: break-word;
  height: 100%;
  margin: 4px;
  width: 100%;
  max-width: calc(32% - 8px);
  border-right-style: dashed;
}

.column:nth-child(3n), .column:last-child {
  border: none;
}